<StackLayout style="background-color: bisque;">
    <RadListView [items]="galleryService.getImages()" loadOnDemandMode="Auto" #listView
        (loadMoreDataRequested)="onLoadMore($event)" [id]="id" (loaded)="loadedEvent($event)"
        selectionBehavior="Press" (itemSelected)="onItemSelected($event)">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout>
                <ImageContainer *ngIf="galleryService.isOfType('grid')" [image]="item"></ImageContainer>
                <ImageCard *ngIf="galleryService.isOfType('list')" [image]="item"></ImageCard>
            </StackLayout>
        </ng-template>
        <ListViewGridLayout tkListViewLayout *ngIf="galleryService.isOfType('grid')" scrollDirection="Vertical"
            ios:itemHeight="250" spanCount="3"> 
        </ListViewGridLayout>
    </RadListView> 
 
    <!--<ListViewStaggeredLayout *ngIf="galleryService.isOfType(galleryType.LIST)" tkListViewLayout
        scrollDirection="Vertical" spanCount="3"></ListViewStaggeredLayout>-->
</StackLayout> 