<page-router-outlet></page-router-outlet>
<!--<TabView androidTabsPosition="bottom" selectedIndex="0" >
    <page-router-outlet *tabItem="{ iconSource: 'res://ic_action_home'}" name="home"></page-router-outlet>
    <page-router-outlet *tabItem="{ iconSource: 'res://ic_action_search'}" name="search"></page-router-outlet>
    <page-router-outlet *tabItem="{ iconSource: 'res://ic_action_add'}" name="camera"></page-router-outlet>
    <page-router-outlet *tabItem="{ iconSource: 'res://ic_action_heart'}" name="like"></page-router-outlet>
    <page-router-outlet *tabItem="{ iconSource: 'res://ic_action_avatar'}" name="user"></page-router-outlet>
</TabView> --> 