.image-card{
    margin: 16 0;
}
.profile{
    border-radius: 50%;
    width: 72;
    height: 72;
    padding: 2;
    border-color: indigo;
    
}

TabStripItem{
    font-size: 18;
}

.col-40{
  margin-right: 16;
}

.heading{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.col-20{
    margin: 0 8;
}

.title{
    font-size: 18;
    font-weight: 700;
    color: #000;
}

.subtitle {
    font-size: 14;
    font-weight: 400;
}

.regular{
    font-weight: 700;
    font-size: 14;
    color: #000;
}

.image-container{
    min-height: 144;
    background-color: #afafaf;
}

.image{
    width: 32;
    height: 32;
    margin: 0 4;
}

.image--left{
    float: left;
}

.image--right{
    float: right;
}

.row{
    margin: 0 8;
}

.button--primary{
    background-color: #66F;
    color: #fff;
}